[Desktop Entry]
Type=Application
Exec=conky
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
Name[en_US]=StartupConky
Comment[en_US]=Conky System Monitor
X-GNOME-Autostart-Delay=5
